{% extends '../base_administracion.html' %}

{% block titulo %}Nuevo evento{% endblock%}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static '/administracion/css/index.css'%}?v={% now 'U' %}">  
<div class="titulo">
    <h1 class="mt-4">Eventos - Nuevo</h1>
</div>

<div class="card">
    <div class="card-header">Creacion de eventos</div>
    <div class="card-body">
        <form action="{% url 'eventos_nuevo' %}" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'administracion/eventos/form.html' %}
        </form>
    </div>
</div>
{% endblock %}