{% extends '../base_administracion.html' %}

{% block titulo %}Eliminar atractivos{% endblock%}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static '/administracion/css/index.css'%}?v={% now 'U' %}">  
<div class="titulo">
    <h1 class="mt-4">Atractivos - Baja</h1>
</div>

<div class="card">
    <div class="card-header borde">
        <h4>Eliminación de atractivo</h4>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <p>Esta seguro que quiere eliminar el atractivo turistico? "{{ object.nombre }}"?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}