
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	background-image: url("/static/img/salinas_noche.png");
    /* filter: brightness(200%);  */
    background-repeat:no-repeat;
    background-size: cover;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color:white;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item_impar{
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item_par{
    padding-left: calc(50% + 30px);
	text-align: left;
}
.timeline-dot{
	height: 20px;
	width: 20px;
	background-color: gold;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 28px;
	color: gold;
	margin:6px 0 15px;
	font-family:'Times New Roman';
}
.timeline-content{
    background-color: rgb(205, 231, 241);
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 25px;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 700;
}
.timeline-content p{
    color: black;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}