/********* INICIO Estilos pagina Registro (registro.html) ********/

.texto1{
    font-size: 30px;
    padding: 0.5vw;
    text-align: center;
}
.texto2{
    padding: 0.5vw;
    font-size: 20px;
    text-align: center;
}

.fondo_registro {
    background-color: #eaddee;
}
.estilo_form{
    background-image: url("/static/img/wipala_form.png");
    /* filter: brightness(200%);  */
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 25px;
    align-items: center;
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    padding: 5%;
    margin: 2.5%;
    width: 95%;
}
.section{
    background-color: white;
    display: flex;
}
.susc1{
    margin: 20px 0px 0px;
    padding: 10px;
}
.susc2{
    margin: 0px;
    padding: 10px;
}
.caja{
    display: flex;
    margin: auto;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.estilo_form input {
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    /* border-bottom: 2px solid black; */
    border-radius: 20px;
    background-color: rgba(154, 108, 108, 0.15);
    box-shadow: inset -3px -3px rgba(0,0,0, 0.6);
    font-weight: 700;
    color:black;
    margin: 0;
}
  
.estilo_form label {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} 

.estilo_form input[type='checkbox'] {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    text-align: center;
} 
  
  /* .estilo_form textarea {
    min-height: 100px;
  } */

  .estilo_form textarea:focus, input:focus, input[type]:focus {
    /* border-color: white; */
    /* outline: white; */
    background-color: white;
    box-shadow: inset -3px -3px rgba(0,0,0, 0.6);
  }
  
  input[type='submit'] {
    padding: 10px;
    background: white;
    width: 100%;
    border:black;
    color: black;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
  }
  input[type='submit']:focus {
    background: rgb(72, 117, 215);;
    color: white;
  }

  
/* Section Responsive */

@media only screen and (min-width: 600px) 
{
    .section{
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;
    }
    .suscripcion {
        flex-basis: calc(50% - 1rem);
    }
    .formulario {
        flex-basis: calc(50% - 1rem);
    }
}
@media only screen and (min-width: 1200px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;

    }
    .suscripcion {
        flex-basis: calc(60% - 1rem);
        justify-content: center;
        align-items: center;
    }
    .formulario {
        flex-basis: calc(40% - 1rem);

    }
}

/********* FIN Estilos pagina Registro (registro.html) ********/


/********* INICIO Estilos pagina Politica (politica.html) ********/

.formato_main{
    margin: 0px 20px;
}

.titulo_politica{
    text-align: center;
    margin: 20px 0px;
}

.subtitulo{
    font-size: 20px;
    margin: 15px 0px 10px 20px;
}

.formato_texto{
    font-size: 15px;
    text-align: justify;
}

.lista {
    list-style: square inside;
}

/********* FIN Estilos pagina Politica (politica.html) ********/