/********* INICIO Estilos pagina Registro (formulario.html) ********/

.texto1{
    font-size: 30px;
    padding: 0.5vw;
    text-align: center;
}
.texto2{
    padding: 0.5vw;
    font-size: 20px;
    text-align: center;
}

.fondo_registro {
    background-color: #eaddee;
}
.estilo_form{
    background-image: url("/static/img/wipala_form.png");
  /*  background-repeat:no-repeat;*/
    background-size: cover;
    border-radius: 25px;
    align-items: center;
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    padding: 5%;
    margin: 2.5%;
    width: 95%;
}
.section{
    background-color: white;
    display: flex;
}
.susc1{
    margin: 20px 0px 0px;
    padding: 10px;
}
.susc2{
    margin: 0px;
    padding: 10px;
}
.caja{
    display: flex;
    margin: auto;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.estilo_form input, select {
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(154, 108, 108, 0.15);
    box-shadow: inset -3px -3px rgba(0,0,0, 0.6);
    font-weight: 700;
    color:black;
    margin: 0;
}
  
.estilo_form label {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} 

.estilo_form input[type='checkbox'] {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    text-align: center;
} 
  
  /* .estilo_form textarea {
    min-height: 100px;
  } */

.estilo_form textarea:focus, input:focus, input[type]:focus {
    background-color: white;
    box-shadow: inset -3px -3px rgba(0,0,0, 0.6);
  }
  
  input[type='submit'] {
    padding: 10px;
    background: white;
    width: 100%;
    border:black;
    color: black;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
  }
  input[type='submit']:focus {
    background: rgb(72, 117, 215);;
    color: white;
  }


/* Section Responsive */

@media only screen and (min-width: 600px) 
{
    .section{
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;
    }
    .suscripcion {
        flex-basis: calc(50% - 1rem);
    }
    .formulario {
        flex-basis: calc(50% - 1rem);
    }
}
@media only screen and (min-width: 1200px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;

    }
    .suscripcion {
        flex-basis: calc(60% - 1rem);
        justify-content: center;
        align-items: center;
    }
    .formulario {
        flex-basis: calc(40% - 1rem);

    }
}

/********* Registro (registro.html) ********/


/********* Politica (politica.html) ********/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    max-height: 80%;
    overflow-y: scroll;
    text-align: justify;
    padding: 15px;
  }
  .modal-contenido h4{
   text-align: center;
   margin-top: 30px;
   color:rgb(9, 9, 135);
   text-decoration: underline
  }
  .cerrar-modal {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

 .cerrar-modal:hover,
 .cerrar-modal:focus {
  color: rgb(3, 30, 64);
  background-color:  rgb(169, 185, 205);
  cursor: pointer;
 }
 
/********* Politica (politica.html) ********/

