{% extends './base.html' %}

{% block titulo %}Agenda de Eventos{% endblock titulo %}

{% block contenido %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/publica/css/eventos.css'%}?v={% now 'U' %}">  
  <section class="timeline-section">
	{% if lista_eventos|length > 0 %}
	  {% for evento in lista_eventos %}
	  <div class="timeline-items">
		<div class="timeline-item">
		  <div class="timeline-dot"></div>
		  <div class="timeline-date">{{evento.fecha_evento}}</div>
		  <div class="timeline-content" style="color: {% cycle 'blue' 'red' %}">
			<h3>{{evento.nombre}}</h3>
			<p class="card-text">{{evento.descripcion}}</p>
			<p class="card-text">{{evento.direccion}}</p>
			<img width="50%" src={{evento.imagen_evento}} alt="{{curso.nombre}}">
		  </div>
		</div>
	   </div>		
	  {% endfor %}
    {% comment %} {% else %}
	  <div class="row justify-content-center">
		<div class="col-4 text-center">
			<div class="alert alert-warning" role="alert">
				<p>No hay cursos disponibles</p>
			</div>
		</div>
	   </div> {% endcomment %}
    {% endif %}
  </section> 
{% endblock contenido %}